name: Deployment

on:
  push:
    branches-ignore:
      - dependabot/**
      - release-please-**
  pull_request:
    branches-ignore:
      - release-please-**

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Installing dependencies
        run: |
          python -m pip install \
              build \
              readme_renderer[md] \
              setuptools_scm
      - name: Validate README for PyPI
        run: |
          python -m readme_renderer README.md -o /tmp/README.html
      - name: Build distributions
        run: |
          python -m build --outdir $PWD/dist .

  release-please:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'push' && github.repository == 'DIRACGrid/diracx-cwl' }}
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          release-type: simple

  deploy-pypi:
    name: PyPI deployment
    runs-on: ubuntu-latest
    needs: release-please
    if: ${{ github.event_name == 'push' && github.repository == 'DIRACGrid/diracx-cwl' && needs.release-please.outputs.release_created == 'true' }}
    permissions:
      id-token: write  # Required for trusted publishing on PyPI
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Installing dependencies
        run: |
          python -m pip install \
              build \
              setuptools_scm
      - name: Build distributions
        run: |
          python -m build --outdir $PWD/dist .
      - name: Publish package on PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
